.vcode-container{
    position: absolute;
    top:0;
    left: 0;
    right:0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.474);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}
.vcode-container-enter{
animation: showVcode .5s ease-in-out 1;
}
.vcode-container-leave{
    animation: showVcode 1s ease-in-out 1 reverse;
}

@keyframes showVcode {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}